.round {
    background: var(--button);
    display: block;
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    color: #ffffff;
}

.square {
    display: block;
    border: none;
    padding: 0.25rem;
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    width: 75%;
    background-color: #ffffff;
}

.round,
.square {
    cursor: pointer;
}

.square:hover {
    background-color: var(--button-hover);
}

.round:hover {
    background-color: var(--button-hover);
}